.App {
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}

canvas {
	width: 400px;
	height: 200px;
	border: 1px solid #cdcdcd;
	border-radius: 5px;
}

.container-btn {
	margin-top: 2rem;
	display: flex;
	justify-content: space-around;
}
